
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --nav-primary-bg: #00204B;
  --nav-primary-color: #00204B;
  --nav-text-color: #ffffff;
  --input-border-color: #ffffff;

}
.container-fluid {
  padding: 0 30px;
}
