
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* varriable color for nav css */
:root {
  --nav-primary-bg: #00204B;
  --nav-primary-color: #00204B;
  --nav-text-color: #ffffff;
  --input-border-color: #ffffff;
  --nav-asent-color: #28A349;

}
.container-fluid {
  padding: 0 30px !important;
}
            